/*#######################################################################
#	each media Does not affect the other media,							#
#	we Don't have Overriding of style,								  	#
#	so should repeat all nedded style to other media size to apply it. 	#
#######################################################################*/

/* From 0px To 767px - (Mobile & Tablet) - [xs] */
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }

    .navbar-inverse .navbar-toggle { border-color: transparent; }

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
		background-color: transparent;
	}

    .navbar-toggle .icon-bar {
		width: 4px;
		height: 4px;
		border-radius: 50%;
	}

    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse { max-height: none; }

	.orders.content .order-detail .order-title {
		vertical-align: unset;
		height: 45px;
	}

	.orders.content .order-detail .order-price {
		vertical-align: unset;
		height: auto;
	}

	.orders.content .order-detail .order-qte {
		margin: 0 auto;
	}

    .footer { text-align: center; }
}

/* From 768px To 991px - (Small Screen) - [sm] */
@media (min-width: 768px) and (max-width: 991px) {
	.footer { text-align: center; }
}

/* From 991px To 1199px - (Medium Screen) - [md] */
@media (min-width: 992px) and (max-width: 1199px) {
	.footer .row > div { margin-bottom: 20px; }
}

/* From 1200px to (n)px - (Large Screen) - [lg] */
@media (min-width: 1200px) {

}